/* images */
#usa_logo {
    position: fixed;
    right: 5px;
    top: 5px;
    width: 20%;   
}

#ultimate_cleats {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    width: 30%;
    height: 15%;
}

figure, figcaption {
    border-style: solid;
    border-color: lightgrey;
}

#rules>figure {
    float: right;
}

/* text */
blockquote>span {
    display: block;
    padding: 20px;
}

p, blockquote, li {
    font-size: .9em;
}

.header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2, h3 {
    font-weight: normal;
}

h1 {
    text-align: center;
}