/* images */
#usa_logo {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 15em;   
}

#ultimate_cleats {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    width: 20em;
    height: 10em;
}

figure {
    border-style: solid;
    border-color: crimson;
}

figcaption {
    font-size: .8em;
    text-align: center;
    padding-bottom: 3px;
    font-family: monospace;
}

#playing_field, #pie_tin, #plaque, #player_scoring, #mark, #forcing, #breaking_cup, #foul, #australia_canada {
    float: right; 
}

#vertical_stack_display {
    float: left;
    margin: 5px 10px;
}

#vertical_stack_display>img {
    width: 13em;
    height: 17em;
}

#plaque>img, #pie_tin>img {
    width: 14em;
    height: 14em;
}

#plaque>figcaption, #pie_tin>figcaption, #vertical_stack_display>figcaption, #mark>figcaption, #australia_canada>figcaption {
    width: 210px;
    padding-left: 5px;
}

#foul>figcaption {
    width: 285px;
    padding-left: 5px;
}

#breaking_cup>figcaption {
    width: 290px;
    padding-left: 5px;
}

/* text */
blockquote>span {
    display: block;
    padding: 20px;
}

p, blockquote, li {
    font-size: .9em;
}

.header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2, h3, h4 {
    font-weight: normal;
}

h1 {
    text-align: center;
}

/* links */
a:link {
    color: rgb(97, 186, 216);
}

a:visited {
    color: darkblue;
}

a:hover {
    color: rgb(53, 53, 223);
}

/* table of contents */
#contents_section ol {
    counter-reset: item;
}

#contents_section li {
    counter-increment: item;
    display: block;
}

#contents_section li:before {
    content: counters(item, ".") " ";
    color: red;
    font-family: cursive;
}

#contents_section {
    border: solid;
    border-color: crimson;
    width: 450px;
}

#contents {
    padding-left: 50px;
    font-weight: bold;
    color: red;
}

#contents_section a:visited {
    color: rgb(105, 1, 1);
}

#contents_section a:link {
    color: rgb(255, 0, 0);
}

#contents_section a:hover {
    color: rgb(175, 27, 27);
}

#contents_section a {
    text-decoration: none;
}

/* lists */
ul {
    list-style: none;
}

ul li::before {
    content: "\25AA";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

ol {
    counter-reset: i;
}

ol li {
    display: block;
}

ol li:before {
    content: counter(i) ". ";
    counter-increment: i;
    color: red;
}

/* headers */
hr {
    background-color: rgb(1, 1, 122);
    height: 5px;
}