/* avatars */
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

[type=radio] + img {
    cursor: pointer;
}

[type=radio]:checked + img {
    outline: 4px solid #00FF00;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

#avatar > label:first-of-type {
    line-height: 2em;
}

/* general formatting */
div {
    padding-bottom: 10px;
}

#avatar > label:not(:first-of-type) {
    padding-left: 5px;
}

*:not(input) {
    text-align: center;
}

body {
    background-color: lightgreen;
}

/* forms */
input:-webkit-autofill {
    -webkit-text-fill-color: #00FFAC !important;
    -webkit-box-shadow: 0 0 0 30px darkgreen inset !important;
            box-shadow: 0 0 0 30px darkgreen inset !important;
}

input {
    background-color: darkgreen;
    color: #00FFAC;
}

::placeholder {
    color: #00FFAC;;
}

.asterisk {
    color: red;
}

#create_user_submit {
    width: 125px;
    height: 40px;
    box-shadow: 5px 5px green;
}

[type="checkbox"] {
    accent-color: darkgreen;
}

/* heading */
header {
    background-color: darkgreen;
    margin-bottom: 10px;
    height: 50px;
}

h1 {
    color: lightgreen;
    position: relative;
    top: 5px;
}

/* images */
#john_diggle, #roy_harper {
    height: 400px;
    position: absolute;
    top: 100px;
}

#john_diggle {
    margin-left: 125px;
    width: 250px;
}

#roy_harper {
    margin-left: -350px;
    width: 200px;
}