/* general formatting */
body {
    background-color: lightgreen;
}

div {
    padding-bottom: 25px;
}

.item, hr {
    border-color: darkgreen;
    border-width: 5px;
}

/* heading */
header>p {
    color: lightgreen;
    position: absolute;
    top: 10px;
    right: 100px;
    font-size: smaller;
}

h1 {
    color: lightgreen;
    text-align: center;    
    position: relative;
    top: 5px;
}

header {
    background-color: darkgreen;
    margin-bottom: 10px;
    height: 50px;    
}

/* forms */
input:-webkit-autofill {
    -webkit-text-fill-color: #00FFAC !important;
    -webkit-box-shadow: 0 0 0 30px darkgreen inset !important;
            box-shadow: 0 0 0 30px darkgreen inset !important;
}

input {
    background-color: darkgreen;
    color: #00FFAC;
}

::placeholder {
    color: #00FFAC;;
}

#asterisk {
    color: red;
}

#remove_user, #promote_user {
    border-style: outset;
    border-color: darkgreen;
    border-width: 5px;
    padding: 20px;
    width: 200px;
    display: inline-block;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

.admin_hr {
    position: relative;
    top: -15px;
}

body {
    text-align: center;
}

#remove_user_button, #promote_user_button {
    width: 110px;
    height: 40px;
    box-shadow: 5px 5px green;
}

/* images */
#smoak_hype {
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* timeline */
#left_side_timeline, #right_side_timeline {
    display: inline-block;
}

#left_side_timeline {
    position: relative;
    right: 100px;
}

#right_side_timeline {
    position: relative;
    left: 100px;
    top: 100px;
}

.item {
    border-style: inset;
    margin-bottom: 200px;
}

.item {
    padding: 20px;
}

#members_header, #fan_club_members_header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* members table */
#club_members {
    border-style: groove;
    border-color: darkgreen;
    padding: 10px;
    margin: auto;
}

#table_header {
    background-color: grey;
}

#table_header>th {
    padding-right: 40px;
    padding-left: 40px;
}