/* general formatting */
body {
    background-color: lightgreen;
}

div {
    padding-bottom: 25px;
}

.item, hr {
    border-color: darkgreen;
    border-width: 5px;
}

.member_headers {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* heading */
header > p {
    color: lightgreen;
    position: absolute;
    top: 10px;
    right: 100px;
    font-size: smaller;
}

header > h1 {
    color: lightgreen;
    text-align: center;    
    position: relative;
    top: 5px;
}

header {
    background-color: darkgreen;
    margin-bottom: 10px;
    height: 50px;    
}

/* forms */
input:-webkit-autofill {
    -webkit-text-fill-color: #00FFAC !important;
    -webkit-box-shadow: 0 0 0 30px darkgreen inset !important;
            box-shadow: 0 0 0 30px darkgreen inset !important;
}

.admin_headers {
    position: relative;
    top: -15px;
}

input {
    background-color: darkgreen;
    color: #00FFAC;
}

::placeholder {
    color: #00FFAC;;
}

.asterisk {
    color: red;
}

#remove_user, #promote_user {
    border-style: outset;
    border-color: darkgreen;
    border-width: 5px;
    padding: 20px;
    width: 200px;
    display: inline-block;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

.admin_hr {
    position: relative;
    top: -15px;
}

body {
    text-align: center;
}

.admin_buttons {
    width: 110px;
    height: 40px;
    box-shadow: 5px 5px green;
}

/* images */
#smoak_hype {
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* timeline items */
#left_side_timeline, #right_side_timeline {
    display: inline-block;
}

#left_side_timeline {
    position: relative;
    right: 100px;
}

#right_side_timeline {
    position: relative;
    left: 100px;
    top: 100px;
}

.item, #left_side_timeline > div > div {
    border-style: inset;
    margin-bottom: 200px;
}

#right_side_timeline > div > div {
    border-style: outset;
}

.item {
    padding: 20px;
    width: 150px;
}

.item > h3 {
    position: relative;
    left: 5px;
}

/* timeline bar */
#joined_timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

#joined_timeline::after {
    content: '';
    width: 6px;
    background-color: darkgreen;
    position: absolute;
    top: 85px;
    bottom: 260px;
    left: 50%;
    margin-left: -3px;
}

/* The circles on the timeline */
.container::before {
    content: '';
    height: 20px;
    width: 20px;
    position: relative;
    top: 75px;
    right: -116px;
    float: right;
    background-color: green;
    border: 4px solid black;
    border-radius: 50%;
    z-index: 1; /* appear in-front of line */
}

#right_side_timeline > .container::before {
    left: -288px;
}

/* add arrows to the left container (pointing right) */
#left_side_timeline .item::before {
    content: '';
    position: relative;
    top: 55px;
    right: -45px;
    float: right;
    border: medium solid white;
    border-width: 10px 0px 10px 10px;
    border-color: transparent transparent transparent darkgreen;
}

/* add arrows to the right container (pointing left) */
 #right_side_timeline .item::before {
    content: '';
    position: relative;
    top: 55px;
    left: -180px;
    float: right;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent darkgreen transparent transparent;
}

/* members table */
#club_members {
    border-style: groove;
    border-color: darkgreen;
    padding: 10px;
    margin: auto;
}

#table_header {
    background-color: grey;
}

#table_header > th {
    padding-right: 40px;
    padding-left: 40px;
}