/* header */
h1 {
    text-align: center;
    line-height: 75px;
    font-family: cursive;
    color: grey;
}

#heading {
    background-color: rgb(107, 252, 107);
    height: 75px;
}

/* sectioning */
#add_joke, #hear_joke {
    border: 2px solid darkgreen; /* width/style/color */
    margin-top: 10px;
}

#add_joke, #hear_joke {
    padding: 10px;
}

#age_restricted {
    padding-bottom: 10px;
}

h2 {
    text-align: center;
}

#age_restricted {
    display: none;
}

/* body */
p, label, h2 {
    font-family: sans-serif;
}

/* buttons */
button:hover {
    cursor: pointer;
}

/* form information */
#original, #restrictions, #related_jokes {
    margin-bottom: 10px;
    margin-left: 10px;
}
